	<!-- Footer -->
	<footer class="wrapper style1 align-center">
		<div class="inner">
			{{> social }}
			<p>&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>. Proudly generated with <a href="{{ site.generatorurl }}" title="{{ generatortitle }}">{{ site.generatorname }}</a>.</p>
		</div>
	</footer>
</div>