{{> post-head }}
<section class="banner onload-image-fade-in onload-content-fade-right style5 content-align-center image-position-center">
	<div class="content">
		<h1>{{{title}}}</h1>
		</div>
	<div class="image">
		<img src=" {{featuredImage }}?h=300" alt="">
	</div>
</section>

<div class="wrapper style1 align-left">
	<article class="inner medium" id="article">
		<p>{{ publishDate }}</p>
		{{{ contents }}}
	</article>
</div>
{{> footer }}